
.contact-title {
	line-height: normal;
	margin-bottom: 50px;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	width: 100%;
	border: none;
	background: #ebebeb;
	font-size: 14px;
	height: 52px;
	margin-bottom: 23px;
	color: #414141;
	padding: 5px 20px;
}

.contact-form textarea {
	margin-top: 5px;
	height: 197px;
	padding: 20px 20px;
}

.contact-form .site-btn {
	font-size: 16px;
	background: #b09d81;
	padding: 20px 30px;
	min-width: 215px;
}
.text-center{
	text-align:center!important
}
			
.CU{
	margin-top:6%;
}
.footer-area{
	margin-top: 40px;
}
.img-fluid {
  max-width: 100%;
  height: ;
}
.cardtop{
	height:;
	width:;
}
.comment-form{
	padding-top:20px;
}
